################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EGameTools
/x64
/EGameTools/x64
/EGameTools/EGameTools.vcxproj.user
/Tools/ExtractPlayerVarsFromDecompiledFunc/bin
/Tools/ExtractPlayerVarsFromDecompiledFunc/.vs
/Tools/ExtractPlayerVarsFromDecompiledFunc/ExtractPlayerVarsFromDecompiledFunc/bin
/Tools/ExtractPlayerVarsFromDecompiledFunc/ExtractPlayerVarsFromDecompiledFunc/obj
/Tools/ExtractPlayerVarsFromDecompiledFunc/ExtractPlayerVarsFromDecompiledFunc/ExtractPlayerVarsFromDecompiledFunc.csproj.user
/enc_temp_folder
